node_modules
# Keep environment variables out of version control
.env
dist
package-lock.json


/src/generated/prisma

# Logs
logs.txt
logs/

# Local sqlite database
/src/db/dev.db
/src/db/*.db-journal
