# Node.js
node_modules
dist
package-lock.json

# Environment variables
.env

# Logs
logs
logs.txt

# Prisma
/src/generated/prisma

# Local SQLite databases (оставляем только для локальной разработки)
# Эти файлы не нужны в Git
/src/db/dev.db
/src/db/*.db-journal
/src/db/migration_lock.toml
